@charset "ISO-8859-1";

<!-- CHANGES
	1. Added card-footer padding and margin
	
-->
body{
	background: url('images/theater.jpg');
	color: white !important;
}
h1{
	text-decoration: underline;
	color: white;
}
h3{
	color: white;
}
.card{
	margin: auto !important;
	color: black;
}
.card-body{
	background-color: black;
	border: 2px solid #A4A4A4 !important;
	margin: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.card-footer{
	padding: 5px !important;
	margin: auto;
	background-color: white !important;
}
.container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
} 
.navbar-brand{
	text-decoration: underline !important;
}