<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Welcome to MovieRoulette</title>
	<meta charset="ISO-8859-1"/>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js%22%3E"></script>
</head>

<body>
	<p>This is the page to enter a movie in.</p>
	 Movie Id:  <input type = "number" name = movieId > <label for="errorLabel1"> *Required Id: This is how it is found in the list. </label><br><br/>
	 Title:  <input type = "text" name = movieTitle > <label for="errorLabel2"> *Required Title: This is how users find movies </label><br><br/>
</body>
<footer style="color:Purple;">
	Need Help? | Email us
</footer>
</html>