@charset "ISO-8859-1";

.container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}

.card {
	max-width: 202px; 
	max-height: 200px"
}

.navbar navbar-light{
	background-color: #8f34eb;
}