<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Welcome to MovieRoulette</title>
	<meta charset="ISO-8859-1"/>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js%22%3E"></script>
</head>

<body>
	
	<nav class="navbar navbar-light" style="background-color: #8f34eb;">
		  <img src="images/FilmRouletteLogo.png" height="100" width="150">  
	  <a class="navbar-brand">Welcome to MovieRoulette</a>
	  <form class="form-inline">
	    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  </form>
	</nav>
	<br/>

	<h3>Upcoming Movies</h3>
	<ul id="upcomingMovies" class="list-group" th:each="movies : ${allUpcomingMovies}">
		<li class="list-group-item"><div th:text="${movies}"></div> </li>
	</ul>

	<div class="card-deck col-xs-6" style="padding: 20px;">
	  <div class="card" style="max-width: 202px; max-height: 200px;" >
	    <img src="..." class="card-img-top" alt="...">
	    <div class="card-body">
	      <p class="card-text">This is a wider card </p>
	      <p th:text="${allUpcomingMovies}"></p>
	    </div>
	    <div class="card-footer">
	      <small class="text-muted">Last updated 3 mins ago</small>
	    </div>
	    </div>
	  <div class="card" style="max-width: 202px; max-height: 200px" >
	    <img src="..." class="card-img-top" alt="...">
	    <div class="card-body">
	      <p class="card-text">This card has.</p>
	    </div>
	    <div class="card-footer">
	      <small class="text-muted">Last updated 3 mins ago</small>
	    </div>
	  </div>
	<div class="card" style="max-width: 202px; max-height: 200px" >
	    <img src="..." class="card-img-top" alt="...">
	    <div class="card-body">
	      <p class="card-text">This is a wider card </p>
	    </div>
	    <div class="card-footer">
	      <small class="text-muted">Last updated 3 mins ago</small>
	    </div>
	  </div>
	
	    <div class="card" style="max-width: 202px; max-height: 200px"  >
	    <img src="..." class="card-img-top" alt="...">
	    <div class="card-body">
	      <p class="card-text">This is a wider </p>
	    </div>
	    <div class="card-footer">
	      <small class="text-muted">Last updated 3 mins ago</small>
	    </div>
	  </div>
	
	    <div class="card" style="max-width: 202px; max-height: 200px" >
	    <img src="..." class="card-img-top" alt="...">
	    <div class="card-body">
	      <p class="card-text">This is a wider card </p>
	    </div>
	    <div class="card-footer">
	      <small class="text-muted">Last updated 3 mins ago</small>
	    </div>
	  </div>
	
	    <div class="card" style="max-width: 202px; max-height: 200px" >
	    <img src="..." class="card-img-top" alt="...">
	    <div class="card-body">
	      <p class="card-text">This is a wider card </p>
	    </div>
	    <div class="card-footer">
	      <small class="text-muted">Last updated 3 mins ago</small>
	    </div>
	  </div>
	 
	    <div class="card" style="max-width: 202px; max-height: 200px" >
	    <img src="..." class="card-img-top" alt="...">
	    <div class="card-body">
	      <p class="card-text">This is a wider card </p>
	    </div>
	    <div class="card-footer">
	      <small class="text-muted">Last updated 3 mins ago</small>
	    </div>
	  </div>
	</div>
</body>
<footer>
</footer>
</html>